{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Register{% endblock title %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <p>Register</p>
    <p>If you are a user, <strong><a href="{% url 'account:user_login' %}">Login</a></strong>, please</p>
    <p>or register.</p>
    <form class="form-horizontal" action="{% url 'account:user_register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label">
                <span class="glyphicon "></span>Username</label>
            <div class="col-md-6 text-left">{{ form.username }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}" class="col-md-5 control-label">
                <span class="glyphicon "></span>Email</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.birth.id_for_label }}" class="col-md-5 control-label">
                <span class="glyphicon "></span>Birth</label>
            <div class="col-md-6 text-left">{{ profile.birth }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.phone.id_for_label }}" class="col-md-5 control-label" >
                <span class="glyphicon"></span>Phone</label>
            <div class="col-md-6 text-left">{{ profile.phone }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label" >
                <span class="glyphicon "></span>Password</label>
            <div class="col-md-6 text-left">{{ form.password }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label">
                <span class="glyphicon"></span>Confirm Password</label>
            <div class="col-md-6 text-left">{{ form.password2 }}</div>
        </div>
        <input type="submit" value="Register" class='btn btn-primary btn-lg'>
    </form>
</div>
{% endblock content %}